page-question {

  .item-ios.item-block .item-inner, .list-ios > .item-block:last-child, .list-md .item-block .item-inner{
    border-bottom: none;
  }

  .list-header-ios, .list-header-md{
    border-bottom: none;
    border-top: none;
    margin-bottom: 30px;
  }

  .item-md .item-button, .item-ios .item-button{
    height: 30px;
    padding: 0 1.1em;
  }

  .item-md [item-right], .item-ios [item-right]{
    margin: 0;
  }

  .list-md, .list-ios{
    margin: 0;
  }

  .slide-zoom{
    height: 100%;
  }

  .item-input ion-label{
    max-width: 100%;
  }

}
